<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<div class="commentBody">
	<% def show(comment, depth) %>
	  <% if depth == 0 %>
	  	<HR align=center width=700 color=#987cb9 SIZE=1>
	  <% end %>
	  
	  <li class="list0" >
		  <div class="contentCommodityShow">
        <p><span class="name" style="font-weight: bold"><label style="display: inline; color: #4e555b;"><%= comment.account.name %></label>(<%= comment.created_at %>)：</span>
          <div style="font-weight: bold">
            <% if comment.comment != comment %>
              <label style="display: inline; color: #007bff;">@</label><%= comment.comment.account.name + " " %>
            <% end %>
            <%= comment.content %>
          </div>
        </p>
		  </div>
	  </li>
	  
	  <% if depth == 0 %>
  	    <HR align=center width=700 color=#987cb9 SIZE=5>
      <% end %>
      
	  <% Comment.all.filter { |c| c != comment && c.comment == comment }.each do |c| %>
		<% show(c, depth + 1) %>
	  <% end %>
	<% end %>
</div>
<div class="commentBody">
	<% show(@comment, 0) %>
</div>

<br/>
<div align="center" class="card accountCard">
  <div class="card-header" style="text-align: left;">发表评论</div>
  <div class="card-body">
  <%= form_with url: commodity_section_comment_do_reply_url(@commodity, @section, @comment) do %>
    <div class="field">
      <div class="text-dark labelLine" style="text-align: left; margin-left: 15%">评论内容<br>
      </div>
	  <%= text_area_tag :content , "", style:"width: 70%"%>
	  <br/>
	  <br/>
	  <%= submit_tag '发送', :class => 'btn btn-primary' , style: "color: gainsboro" %>
    </div>
  <% end %>
  </div>
</div>