<p id="notice"><%= notice %></p>

<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Introduction</th>
      <th>Seller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.introduction %></td>
        <td><%= shop.seller.account.name %></td>
        <td><%= link_to 'Show', seller_shop_url(shop.seller, shop) %></td>
        <% if current_account && current_account.id == shop.seller.account.id %>
          <td><%= link_to 'Edit', edit_seller_shop_url(shop.seller, shop) %></td>
          <td><%= link_to 'Destroy', seller_shop_url(shop.seller, shop), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
