<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @shop.introduction %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @shop.seller %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
