<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @shop.introduction %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @shop.seller.account.name %> | ID: <%= @shop.seller.account.id %>
</p>

<%= link_to 'Edit', edit_seller_shop_path(@shop.seller) %> |
<%= link_to 'Back', seller_path(@shop.seller) %>
