<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div>
  <div class="card" style="width:40%">
    <div class="card-header" style="font-size: 100%">店铺信息</div>
    <div class="card-body">
      <p class="card-text">店名：<%= @shop.name %></p>
      <p class="card-text">简介：<%= @shop.introduction %></p>
      <p class="card-text">店主：<%= @shop.seller.account.name %></p>
      <p class="card-text">ID：<%= @shop.seller.account.id %></p>
      <% if current_account && current_account.id == @shop.seller.account.id %>
        <%= link_to '编辑', edit_seller_shop_path(@shop.seller, @shop), class: 'btn btn-primary', style: "color: gainsboro; width: 20%" %>
      <% end %>
    </div>
  </div>
  <br>
</div>


<div class="content">  
  <div class="proRow">
      <% @shop.commodities.each do |commodity| %>
          <div class="proBig">
              <div class="pro">
                  <div class="proImg">
                    <% if commodity.image.attached? %>
                      <image src="<%= url_for commodity.image %>"></image>
                    <% end %>
                  </div>
                  <div class="proText">
                      <h5 class="h5Commodity"><%= commodity.name %></h5>
                      <p class = "proIntro"><%= commodity.introduction %></p>
                      <p class = "proPrice"><%= commodity.price %> RMB</p>
                      <p class = "proFrom"><%= commodity.shop.name %></p>
                      <p class = "proCatagory"><%= commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
                  </div>
              </div>
              <a href="#">
                  <div class="proBtn">
                  	  <%= link_to '查看', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                      <% if current_account && current_account.id == commodity.shop.seller.account.id %>
                        <%= link_to '编辑', edit_commodity_path(commodity), class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                        <%= link_to '删除', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro",  method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <% end %>
                  </div>
              </a>
              
          </div>
        <% end %>
    </div>
</div>

<% if current_account && current_account.id == @shop.seller.account.id %>
  <div class="card">
  <div class="card-header">新增商品</div>
  <div class="card-body">
    <%= form_for Commodity.new, url: commodities_url do |f| %>
      <p>
        <%= f.label :name, "商品名称", class: "labelName" %>
        <%= f.text_field :name, class: "formTextArea" %>
      </p>
      <p>
        <%= f.label :introduction, "商品简介", class: "labelName" %>
        <%= f.text_area :introduction, class: "formTextArea" %>
      </p>
      <p>
        <%= f.label :image, "商品示意图", class: "labelName" %>
        <%= f.file_field :image, accept: 'image/png,image/jpeg,image/jpg' %>
      </p>
      <p>
        <%= f.label :price, "价格", class: "labelName" %>
        <%= f.number_field :price, in: 0.1..10000000000.0, step: 0.1, class: "formTextArea" %>
      </p>
      <div>
        <%= f.hidden_field :shop_id, :value => @shop.id, class: "formTextArea" %>
      </div>
      <p class="labelName">
        选择类别
      </p>
        <div>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
            <%= b.label(:"data-value" => b.value, style:"display: inline; font-size: 17px;") {
              b.check_box(class: "check_box") + b.text } %>
          <% end %>
        </div>

      <p>
        <%= f.submit "新增商品", class: "btn btn-primary", style: "color: gainsboro; margin-top: 1%" %>
      </p>
    <% end %>
  </div>
<% end %>
</div>

<%= link_to '返回', seller_path(@shop.seller), class: 'btn btn-primary', style: "color: gainsboro; width: 10%; margin-top: 1%" %>
