<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div style="margin: 10px">
  <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title"><%= @shop.name %></h4>
      <p class="card-text">简介：<%= @shop.introduction %></p>
      <p class="card-text">店主：<%= @shop.seller.account.name %></p>
      <p class="card-text">ID：<%= @shop.seller.account.id %></p>
      <% if current_account && current_account.id == @shop.seller.account.id %>
        <%= link_to '编辑', edit_seller_shop_path(@shop.seller), class: 'btn btn-primary', style: "color: gainsboro" %>
      <% end %>
	  <%= link_to '返回', seller_path(@shop.seller), class: 'btn btn-primary', style: "color: gainsboro" %>
    </div>
  </div>
  <br>
</div>


<div class="content">  
  <div class="proRow">
      <% @shop.commodities.each do |commodity| %>
          <div class="proBig">
              <div class="pro">
                  <div class="proImg"><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbpic.588ku.com%2Fback_origin_min_pic%2F19%2F10%2F22%2Fa8e3ff878cb8b2156f0fee5691cb6951.jpg%21%2Ffw%2F750%2Fquality%2F99%2Funsharp%2Ftrue%2Fcompress%2Ftrue&refer=http%3A%2F%2Fbpic.588ku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641694198&t=f0de01aa6da293f70dcd607d6f42e4c1" width="235"></div>
                  <div class="proText">
                      <h5 class="h5Commodity"><%= commodity.name %></h5>
                      <p class = "proIntro"><%= commodity.introduction %></p>
                      <p class = "proPrice"><%= commodity.price %> RMB</p>
                      <p class = "proFrom"><%= commodity.shop.name %></p>
                      <p class = "proCatagory"><%= commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
                  </div>
              </div>
              <a href="#">
                  <div class="proBtn">
                  	  <%= link_to '查看', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                      <% if current_account && current_account.id == commodity.shop.seller.account.id %>
                        <%= link_to '编辑', edit_commodity_path(commodity), class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                        <%= link_to '删除', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro",  method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <% end %>
                  </div>
              </a>
              
          </div>
        <% end %>
    </div>
</div>

<% if current_account && current_account.id == @shop.seller.account.id %>
  <h2>新增商品</h2>
  <%= form_for Commodity.new, url: commodities_url do |f| %>
    <p>
      <%= f.label :name, "商品名称", style: "font-weight: bold" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :introduction, "商品简介", style: "font-weight: bold" %>
      <%= f.text_area :introduction %>
    </p>
    <p>
      <%= f.label :price, "价格", style: "font-weight: bold" %>
      <%= f.number_field :price, in: 0.1..10000000000.0, step: 0.1 %>
    </p>
    <div>
      <%= f.hidden_field :shop_id, :value => @shop.id %>
    </div>
    <p>
      <%= f.submit "新增商品", class: "btn btn-primary", style: "color: gainsboro" %>
    </p>
  <% end %>
<% end %>
