<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @shop.introduction %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @shop.seller.account.name %> | ID: <%= @shop.seller.account.id %>
</p>

<%= link_to 'Edit', edit_seller_shop_path(@shop.seller) %> |
<%= link_to 'Back', seller_path(@shop.seller) %>

<h2>Commodities</h2>
<div id="commodities">
  <%= render :partial => @shop.commodities %>
</div>

<h2>Add Commodities</h2>
<%= form_for [@shop.seller, @shop, Commodity.new] do |f| %>
  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :introduction, "Introduction" %>
    <%= f.text_field :introduction %>
  </p>
  <p>
    <%= f.label :price, "Price" %>
    <%= f.number_field :price %>
  </p>
  <div>
    <!-- TODO: Backend verification -->
    <%= f.hidden_field :shop_id, :value => @shop.id %>
  </div>
  <p>
    <%= f.submit "Add new commodities" %>
  </p>
<% end %>