<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>


<h1 class="text-center">所有卖家</h1>

<div class="card text-center" style="">
<div class="card-body">

  <table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>用户名</th>
      <th>密码</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody style="">
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.account.id %></td>
        <td><%= seller.account.name %></td>
        <td><%= seller.account.password %></td>
        <td><%= link_to '查看详情', seller %></td>
        <td><%= link_to '删除', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>

</table>

</div>
</div>
