<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<p class="label" style="text-align: right">
  <strong>账户ID：</strong>
  <%= @seller.account.id %>
</p>
<div class="card">
  <div class="card-header">个人信息</div>
  <div class="card-body">
    <p>
      <strong>Name</strong>
      <%= @seller.account.name %>
    </p>
  </div>
</div>


<!-- TODO: show this seller's shops -->

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>

<h2>Shops</h2>
<div id="shops">
  <%= render :partial => @seller.shops %>
</div>

<!-- TODO: if current-user is this seller show "create shop" -->
<h2>Create Shop</h2>
<%= form_for [@seller, Shop.new] do |f| %>
  <p>
    <%= f.label :name, "Name" %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :introduction, "Introduction" %>
    <%= f.text_area :introduction, :row => 5 %>
  </p>
  <div class="field">
    <!-- TODO: Backend verification -->
    <%= f.hidden_field :seller_id, :value => @seller.id %>
  </div>
  <p>
    <%= f.submit "Create My Shop" %>
  </p>
<% end %>