<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-dark">当前用户： <%= current_account.name %></div>
  <li class="dropdown-divider "></li>

  <div class="center" style="width: 50%; margin: auto;">
    <div class="field">
      <div class="text-dark labelLine">投诉对象<br>
        <%= form.collection_select(:seller_id, Seller.all, :id, -> (s) { s.account.name }, {}, {:class => "downLine"}) %>
      </div>
    </div>

    <div class="field">
      <%= form.hidden_field :customer_id, :value => complaint.customer.id %>
    </div>

    <div class="field">
      <div class="text-dark labelLine">投诉内容<br>
        <%= form.text_area :content, class:"complaintText"%>
      </div>
    </div>

    <div class="actions">
      <% if complaint.is_handled? %>
        <div class="leftButton"></div>
      <% else %>
        <%= form.submit class: "btn btn-primary leftButton", value: "编辑信息", data: { disable_with: "正在编辑信息" }%>
      <% end %>
      <%= link_to '返回', complaints_path, class: "btn btn-primary rightButton", style: "color: gainsboro; width: 40%;" %>
    </div>
  </div>
<% end %>
