<body class="loginSurface">

<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<% if notice %>
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div class="card" style="width: 30%; margin:1% auto;">
  <div class="card-header">诉求信息</div>
  <div class="card-body">
    <p>
      <strong>&emsp;&ensp;&ensp;买家:</strong>
      <%= @complaint.customer.account.name %>
    </p>

    <p>
      <strong>&emsp;&ensp;&ensp;卖家:</strong>
      <%= @complaint.seller.account.name %>
    </p>

    <p>
      <strong>投诉内容:</strong>
      <%= @complaint.content %>
    </p>


    <%= form_with url: complaint_do_handle_url(@complaint) do %>
      <%= fields_for :complaint do |c| %>
        <%= c.hidden_field :admin_id, :value => current_account.admin.id %>
      <% end %>
      <%= submit_tag 'Do it' , style: "color: gainsboro; width: 40%; margin-right: 19%", class: "btn btn-primary", value: "处理诉求", data: { disable_with: "正在处理诉求" }%>
      <%= link_to '返回', complaints_path, class: "btn btn-primary", style: "color: gainsboro; width: 40%;" %>
    <% end %>

  </div>
</div>

</body>