<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<% if notice %>
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header">诉求信息</div>
  <div class="card-body">
    <p>
      <strong>买家:</strong>
      <%= @complaint.customer.account.name %>
    </p>

    <p>
      <strong>卖家:</strong>
      <%= @complaint.seller.account.name %>
    </p>

    <p>
      <strong>投诉内容:</strong>
      <%= @complaint.content %>
    </p>

    <p>
      <strong>处理人:</strong>
      <%= @complaint.admin.account.name if @complaint.admin %>
    </p>
  </div>
</div>

<%= form_with url: complaint_do_handle_url(@complaint) do %>
  <%= fields_for :complaint do |c| %>
    <%= c.hidden_field :admin_id, :value => current_account.admin.id %>
  <% end %>
  <%= submit_tag 'Do it' , style: "margin: 1% auto; color: gainsboro;", class: "btn btn-primary", value: "处理诉求", data: { disable_with: "正在处理诉求" }%>
<% end %>