<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header">诉求信息</div>
  <div class="card-body">
    <p>
      <strong>买家:</strong>
      <%= @complaint.customer.account.name %>
    </p>

    <p>
      <strong>卖家:</strong>
      <%= @complaint.seller.account.name %>
    </p>

    <p>
      <strong>投诉内容:</strong>
      <%= @complaint.content %>
    </p>

    <p>
      <strong>处理人:</strong>
      <%= @complaint.admin.account.name if @complaint.admin %>
    </p>
  </div>
</div>

<%= link_to '修改信息', edit_complaint_path(@complaint), class: "btn btn-primary", style: "color: gainsboro; margin: 1%auto;"%> <%= link_to '返回', complaints_path, class: "btn btn-primary", style: "color: gainsboro; margin: 1%auto;" %>