<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<p>
  <strong>Customer:</strong>
  <%= @complaint.customer.account.name %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @complaint.seller.account.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @complaint.content %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @complaint.admin.account.name if @complaint.admin %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
