<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<h2 class="headPosition">所有评论</h2>

<div style="position: relative; left: 30%; font-weight: bold">
	评分：<div style="color: #00FF00; font-size: 100%"><%= '★' *  @section.grade %></div>
</div>

<div class="commentBody">
	<% def show(comment, depth) %>

	<li class="list1" >
        <div class="contentCommodityShow">
          <p><span class="name" style="font-weight: bold"><%= comment.account.name %><label style="display: inline; color: #4e555b;">(<%= comment.created_at %>)</label>：</span>
              <div style="font-weight: bold">
                <% if comment.comment != comment %>
                  <label style="display: inline; color: #007bff;">@</label><%= (comment.comment.account.name + " ") %>
                <% end %>
                <%= comment.content %>
              </div>
            </p>
            <%= link_to '回复', commodity_section_comment_reply_path(comment.section.commodity, comment.section, comment), class: 'btn btn-primary btnReply', style: "color: gainsboro" %>
        </div>
    </li>
      
	  <% Comment.all.filter { |c| c != comment && c.comment == comment }.each do |c| %>
		<% show(c, depth + 1) %>
	  <% end %>
	<% end %>
	<% if @section.comments.empty? %>
	<% else %>
	  <% @section.comments.filter { |c| c.comment == c }.each do |c| %>
		<% show(c, 0) %><br/>
	  <% end %>
	  	<ul id="pn">
	<% end %>
</ul>	
</div>


<% if current_account %>
  <% temp = flash[:section_errors] %>
  <% if temp %>
    <% flash.delete(:section_errors) %>
    <div id="error_explanation">
      <h2><%= pluralize(temp.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% temp.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div align="center" class="card accountCard">

    <div class="card-header" style="text-align: left;">发表评论</div>
    <%= form_for Comment.new, url: commodity_section_comments_url(@section.commodity, @section), class: 'test' do |f| %>
      <div class="field">
        <div class="text-dark labelLine" style="text-align: left; margin-left: 15%">评论内容<br>
        </div>

      <p style="margin: 15px">
        <%= f.text_area :content, :size=>"50*5" %>
      </p>
      <%= f.hidden_field :account_id, :value => current_account.id %>
      <%= f.hidden_field :section_id, :value => @section.id %>
    <%= f.submit '发送', :class => 'btn btn-primary' , style: "color: gainsboro" %>
    <% end %>
  </div>
<% end %>
