<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<p>
  <strong>Grade:</strong>
  <%= @section.grade %>
</p>

<h2>所有评论</h2>

<% def show(comment, depth) %>
  <%= '>' * depth %><%= comment.account.name %>: <%= comment.content %> |
  <%= link_to 'Reply', commodity_section_comment_reply_path(comment.section.commodity, comment.section, comment) %><br/>
  <% Comment.all.filter { |c| c != comment && c.comment == comment }.each do |c| %>
    <% show(c, depth + 1) %>
  <% end %>
<% end %>
<% if @section.comments.empty? %>
  No comments yet
<% else %>
  <% @section.comments.filter { |c| c.comment == c }.each do |c| %>
    <% show(c, 0) %><br/>
  <% end %>
<% end %>

<% if current_account %>
  <h2>Add Comment</h2>

  <%= form_for Comment.new, url: commodity_section_comments_url(@section.commodity, @section) do |f| %>
    <p>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </p>
    <%= f.hidden_field :account_id, :value => current_account.id %>
    <%= f.hidden_field :section_id, :value => @section.id %>

    <%= f.submit %>
  <% end %>
<% end %>
