<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<h1>My Records</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Price</th>
      <th>Commodity</th>
      <th>Created At</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.filter { |r| r.order.customer == current_account.customer }.each do |record| %>
      <tr>
        <td><%= record.order.count %></td>
        <td><%= record.order.price %></td>
        <td><%= record.order.commodity.name %></td>
        <td><%= record.order.created_at %></td>
        <td><%= link_to 'Show', customer_record_url(record.order.customer, record) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
