<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<p id="alert"><%= alert %></p>



<div class="card" style="width: 25%; margin:1% auto;">
  <div class="card-header">购物记录信息</div>
  <div class="card-body">
    <p>
      <strong>数量：</strong>
      <%= @record.order.count %>
    </p>

    <p style="margin: 6%auto">
      <strong>总价：</strong>
      <%= @record.order.price %>
    </p>

    <p style="margin: 6%auto">
      <strong>商品名称：</strong>
      <%= @record.order.commodity.name %>
    </p>
  </div>
</div>

<div align="center">
	<% if @record.section %>
	  <%= link_to '查看评论', commodity_section_url(@record.order.commodity, @record.section), class: "btn btn-primary", style: "color: gainsboro" %>
	  <%= link_to '返回', customer_records_path(@record.order.customer), class: "btn btn-primary", style: "color: gainsboro" %>
	<% else %>
	  <%= form_for Section.new, url: commodity_sections_url(@record.order.commodity) do |f| %>
		<%= f.label :grade %>
		<%= f.number_field :grade, in: 1..5, step: 1 %>

		<%= f.hidden_field :record_id, :value => @record.id %>

		<%= f.submit %>
	  <% end %>
	  <%= link_to '返回', customer_records_path(@record.order.customer), class: "btn btn-primary", style: "color: gainsboro" %>
	<% end %>
</div>
