<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<p id="alert"><%= alert %></p>

<p>
  <strong>Count:</strong>
  <%= @record.order.count %>
</p>

<p>
  <strong>Price:</strong>
  <%= @record.order.price %>
</p>

<p>
  <strong>Commodity:</strong>
  <%= @record.order.commodity.name %>
</p>

<% if @record.section %>
  <%= link_to 'Comment!', commodity_section_url(@record.order.commodity, @record.section) %>
<% else %>
  <%= form_for Section.new, url: commodity_sections_url(@record.order.commodity) do |f| %>
    <%= f.label :grade %>
    <%= f.number_field :grade, in: 1..5, step: 1 %>

    <%= f.hidden_field :record_id, :value => @record.id %>

    <%= f.submit %>
  <% end %>
<% end %>

<br/>

<%= link_to 'Back', customer_records_path(@record.order.customer) %>
