<p id="notice"><%= notice %></p>

<h1>My Orders</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Price</th>
      <th>Commodity</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_account.customer.orders.filter { |o| not o.done }.each do |order| %>
      <tr>
        <td><%= order.count %></td>
        <td><%= order.price %></td>
        <td><%= order.commodity.name %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to 'Show', customer_order_url(order.customer, order) %></td>
        <% if order.done %>
          <td>---</td>
        <% else %>
          <td><%= link_to 'Edit', edit_customer_order_path(order.customer, order) %></td>
        <% end %>
        <td><%= link_to 'Destroy', customer_order_url(order.customer, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
