<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<h1>购物车</h1>

<div class="card text-center" style="">
<div class="card-body">

  <table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>数量</th>
      <th>价格</th>
      <th>商品名称</th>
      <th>创建时间</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_account.customer.orders.filter { |o| not o.done }.each do |order| %>
      <tr>
        <td><%= order.count %></td>
        <td><%= order.price %></td>
        <td><%= order.commodity.name %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to '查看订单', customer_order_url(order.customer, order) %></td>
        <% if order.done %>
          <td>---</td>
        <% else %>
          <td><%= link_to '编辑', edit_customer_order_path(order.customer, order) %></td>
        <% end %>
        <td><%= link_to '删除', customer_order_url(order.customer, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>
</div>

