<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<div class="card" style="width: 25%; margin:1% auto;">
  <div class="card-header">个人信息</div>
  <div class="card-body">
    <p>
      <strong>数量：</strong>
      <%= @order.count %>
    </p>

    <p style="margin: 6%auto">
      <strong>总价：</strong>
      <%= @order.price %>
    </p>

    <p style="margin: 6%auto">
      <strong>商品名称：</strong>
      <%= @order.commodity.name %>
    </p>

    <p style="margin: 6%auto">
      <strong>是否完成：</strong>
      <% if @order.done == true  %>
      	已完成
      <% else %>
      	未完成
      <% end %>
    </p>
  </div>
</div>

<div align="center">
	<% unless @order.done %>
	  <%= form_with url: customer_order_purchase_url(@order.customer, @order) do %>
		<%= submit_tag '现在支付', class: "btn btn-primary", style: "color: gainsboro" %>
	  	<%= link_to '编辑订单', edit_customer_order_path(@order.customer, @order), class: "btn btn-primary", style: "color: gainsboro"%> 
		<%= link_to '返回', customer_orders_path(@order.customer), class: "btn btn-primary", style: "color: gainsboro" %>
	  <% end %>
	<% end %>
</div>
