<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>Count:</strong>
  <%= @order.count %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Done:</strong>
  <%= @order.done %>
</p>

<p>
  <strong>Commodity:</strong>
  <%= @order.commodity.name %>
</p>

<% unless @order.done %>
  <h2>Purchase Now!</h2>
  <%= form_with url: customer_order_purchase_url(@order.customer, @order) do %>
  <% submit_tag 'PURCHASE!' %>
  <% end %>
<% end %>

<br/>

<% unless @order.done %>
  <%= link_to 'Edit', edit_customer_order_path(@order.customer, @order) %> |
<% end %>
<%= link_to 'Back', customer_orders_path(@order) %>
