<div>
	<%= form_with(model: commodity, local: true) do |form| %>
	  <% if commodity.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

		  <ul>
		  <% commodity.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>







	  <div class="center" style="width: 50%; margin: auto;">
		  <div class="field">
		    <div class="text-dark labelLine">商品名称<br> <%= form.text_field :name, require:"", class:"textBoxLine", placeholder: "新名称" %></div>
		  </div>
		  
		  <div class="field">
		    <div class="text-dark labelLine">商品介绍<br> <%= form.text_area :introduction, require:"", class:"textBoxLine", placeholder: "介绍" %></div>
		  </div>
		  
		  <div class="field">
		    <div class="text-dark labelLine">商品单价<br> <%= form.number_field :price, in: 0.1..10000000000.0, step: 0.1, require:"", class:"textBoxLine", placeholder: "" %></div>
		  </div>

      <% if commodity.image.attached? %>
        <div>
          <image src="<%= url_for commodity.image %>"></image>
        </div>
      <% end %>

			<div class="field">
			  <%= form.label :upload, "更新图片", class: "labelName" %>
			  <%= form.file_field :image, accept: 'image/png,image/jpeg,image/jpg' %>
			</div>

			<div class="actions">
			  <%= form.submit :更新商品信息, class: "btn btn-primary btnCommodity", style: "color: gainsboro" %>
			</div>
	  </div>
	<% end %>
</div>
