<div>
	<%= form_with(model: commodity, local: true) do |form| %>
	  <% if commodity.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

		  <ul>
		  <% commodity.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="field">
		<%= form.label :商品名称, class: "labelName" %>
		<%= form.text_field :name, class: "formTextArea" %>
	  </div>

	  <div class="field">
		<%= form.label :商品介绍, class: "labelName" %>
		<%= form.text_area :introduction, class: "formTextArea" %>
	  </div>

	  <div class="field">
		<%= form.label :商品单价, class: "labelName" %>
		<%= form.number_field :price, class: "formTextArea" %>
	  </div>

	  <div class="field">
		<%= form.label :上传图片, class: "labelName" %>
		<%= form.file_field :image, accept: 'image/png,image/jpeg,image/jpg' %>
	  </div>

	  <p class="labelName">
	  	选择类别
	  </p>
	  <div class="labelName">
		<%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
		  <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
		<% end %>
	  </div>

	  <div class="actions">
		<%= form.submit :更新商品信息, class: "btn btn-primary btnCommodity", style: "color: gainsboro" %>
	  </div>
	<% end %>
</div>
