<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<!-- 分类筛选功能 -->
<div class="filterBlock">
  <h4 style="margin-left: 1%; margin-top: 1%">条件筛选</h4>
  <%= form_with url: do_filter_commodities_url do |f| %>
    <div style="margin-left: 1%">
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <%= b.label(:"data-value" => b.value, style:"display: inline; font-size: 17px;") {
          b.check_box(checked: @temp_categories.nil? ? true : @temp_categories.include?(b.value), class: "check_box") + b.text
        }%>
      <% end %>
    </div>
    <div class="actions" style="text-align:right; margin-right: 1%;">
      <%= f.submit '筛选', class:"btn btn-primary", style:"width: 60px; height: 40px;"%>
    </div>
  <% end %>
</div>

<div class="content">  
  <div class="proRow">
      <% @commodities.each do |commodity| %>
          <div class="proBig">
              <div class="pro">
                  <div class="proImg">
                    <% if commodity.image.attached? %>
                      <image src="<%= url_for commodity.image %>" style="width: 100%"></image>
                    <% end %>
                  </div>
                  <div class="proText">
                      <h5 class="h5Commodity"><%= commodity.name %></h5>
                      <p class = "proIntro"><%= commodity.introduction %></p>
                      <p class = "proPrice"><%= commodity.price %> RMB</p>
                      <p class = "proFrom"><%= commodity.shop.name %></p>
                      <p class = "proCatagory"><%= commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
                  </div>
              </div>
              <a href="#">
                  <div class="proBtn">
                  	  <%= link_to '查看', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                      <% if current_account && current_account.id == commodity.shop.seller.account.id %>
                        <%= link_to '编辑', edit_commodity_path(commodity), class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                        <%= link_to '删除', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro",  method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <% end %>
                  </div>
              </a>
              
          </div>
        <% end %>
    </div>
</div>

<% if current_account && current_account.role == "Seller" %>
  <%= link_to '我的商店', seller_url(current_account.seller), class:'btn btn-primary btnCommodity', style: "color: gainsboro" %>
<% end %>

