<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="commodities.scss">
</head>
<p id="notice"><%= notice %></p>

<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<div class="content">  
  <div class="proRow">
      <% @commodities.each do |commodity| %>
          <div class="proBig">
              <div class="pro">
                  <div class="proImg"><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbpic.588ku.com%2Fback_origin_min_pic%2F19%2F10%2F22%2Fa8e3ff878cb8b2156f0fee5691cb6951.jpg%21%2Ffw%2F750%2Fquality%2F99%2Funsharp%2Ftrue%2Fcompress%2Ftrue&refer=http%3A%2F%2Fbpic.588ku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641694198&t=f0de01aa6da293f70dcd607d6f42e4c1" width="235"></div>
                  <div class="proText">
                      <h5 class="h5Commodity"><%= commodity.name %></h5>
                      <p class = "proIntro"><%= commodity.introduction %></p>
                      <p class = "proPrice"><%= commodity.price %> RMB</p>
                      <p class = "proFrom"><%= commodity.shop.name %></p>
                      <p class = "proCatagory"><%= commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
                  </div>
              </div>
              <a href="#">
                  <div class="proBtn">
                      <div class="btn btnCommodity">
                        <%= link_to 'Show', commodity %>
                      </div>
                      <% if current_account && current_account.id == commodity.shop.seller.account.id %>
                        <div class="btn btnCommodity">
                          <%= link_to 'Edit', edit_commodity_path(commodity) %>
                        </div>
                        <div class="btn btnCommodity">
                          <%= link_to 'Destroy', commodity, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                      <% else %>
                      <% end %>
                  </div>
              </a>
          </div>
        <% end %>
    </div>
</div>

<% if current_account && current_account.role == "Seller" %>
  <%= link_to 'My Shop', seller_url(current_account.seller) %>
<% end %>

