<p id="notice"><%= notice %></p>

<h1>Commodities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Introduction</th>
      <th>Price</th>
      <th>Shop</th>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commodities.each do |commodity| %>
      <tr>
        <td><%= commodity.name %></td>
        <td><%= commodity.introduction %></td>
        <td><%= commodity.price %></td>
        <td><%= commodity.shop %></td>
        <td><%= commodity.categories %></td>
        <td><%= link_to 'Show', commodity %></td>
        <td><%= link_to 'Edit', edit_commodity_path(commodity) %></td>
        <td><%= link_to 'Destroy', commodity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commodity', new_commodity_path %>
