<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>
<div>
	<div class="proIntroMargin">
		<div style="text-align: center">
			<% if @commodity.image.attached? %>
			  <image src="<%= url_for @commodity.image %>"></image>
			<% end %>
		</div>
		
		<div class="card" style="width: 485px; margin:1% auto;">
		  <div class="card-header" style="font-weight: bold">商品信息</div>
		  <div class="card-body" style="font-weight: bold">
			  <p>商品名称：<%= @commodity.name %></p>
			  <p>商品介绍：<%= @commodity.introduction %></p>
			  <p>商品价格：<%= @commodity.price %> RMB</p>
			  <p>所属商店：<%= @commodity.shop.name %></p>
			  <p>商品类别：<%= @commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
		  </div>
		</div>
	</div>
</div>



<!--评论模块-->
<div class="bodyCommodityShow">
<% unless @commodity.sections.empty? %>
<ul id="pn">
	<% @commodity.sections.reject { |s| s.comments.empty?  }.each do |s| %>
    <li class="list0" >
        <div class="contentCommodityShow">
        	<!-- TODO: 缺少评论	者的名字和评论时间,有可能的话也可以存一个头像 -->
        	<br>
            <p class="text"><span class="name">Coekjan：</span><%= s.comments.first.content %></p>
            <div>
            	<%= link_to '查看评论组', commodity_section_url(@commodity, s) %>
            </div>
        </div>
    </li>
    <% end %>
</ul>
<% end %>
</div>


<!-- 编辑商品 -->
<% if current_account && current_account.id == @commodity.shop.seller.account.id %>
  <%= link_to 'Edit', edit_commodity_url(@commodity) %> 
<% elsif current_customer? %>
  <!-- 客户加入购物车 -->
  	<div style="text-align: center">
		<%= form_for Order.new, url: customer_orders_url(current_account.customer) do |f| %>
		<div class="field">
		
		  <%= f.label :商品数量, class: "countFont", style: "display: inline" %>
		  <%= f.number_field :count, in: 1..10000000000, step: 1, class: "numberTextArea" %>
		</div>
		<div class="field">
		  <%= f.hidden_field :done, :value => false %>
		</div>
		<div class="field">
		  <%= f.hidden_field :commodity_id, :value => @commodity.id %>
		</div>
		<div class="field">
		  <%= f.hidden_field :customer_id, :value => current_account.customer.id %>
		</div>
		<div class="actions">
		  <%= f.submit "加入购物车", class: "btn btn-primary btnCommodity" %>
		</div>
	</div>
  <% end %>
<% end %>

<%= link_to '返回', commodities_path, class:'btn btn-primary btnCommodity', style: "color: gainsboro" %> 

<%= link_to '访问该商品的店铺', seller_shop_path(@commodity.shop.seller, @commodity.shop), class: 'btn btn-primary btnCommodity', style: "color: gainsboro" %>

