<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commodity.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @commodity.introduction %>
</p>

<p>
  <strong>Price:</strong>
  <%= @commodity.price %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @commodity.shop %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @commodity.categories %>
</p>

<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
