<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<div align = "center"><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbpic.588ku.com%2Fback_origin_min_pic%2F19%2F10%2F22%2Fa8e3ff878cb8b2156f0fee5691cb6951.jpg%21%2Ffw%2F750%2Fquality%2F99%2Funsharp%2Ftrue%2Fcompress%2Ftrue&refer=http%3A%2F%2Fbpic.588ku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641694198&t=f0de01aa6da293f70dcd607d6f42e4c1" width=60% height=10% ></div>
<div>
	<h5 align="center" font-weight = "bold"><%= @commodity.name %></h5>
    <p align="center"><%= @commodity.introduction %></p>
    <p align="center"><%= @commodity.price %> RMB</p>
    <p align="center"><%= @commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
</div>

<!--评论模块-->
<body class="bodyCommodityShow">
<% unless @commodity.sections.empty? %>
<ul id="pn">
	<% @commodity.sections.reject { |s| s.comments.empty?  }.each do |s| %>
    <li class="list0" >
        <div class="contentCommodityShow">
        	<!-- TODO: 缺少评论者的名字和评论时间,有可能的话也可以存一个头像 -->
        	<br>
            <p class="text"><span class="name">Coekjan：</span><%= s.comments.first.content %></p>
            <div>
            	<%= link_to '查看评论组', commodity_section_url(@commodity, s) %>
            </div>
        </div>
    </li>
    <% end %>
</ul>
<% end %>
</body>


<!-- 编辑商品 -->
<% if current_account && current_account.id == @commodity.shop.seller.account.id %>
  <%= link_to 'Edit', edit_commodity_url(@commodity) %> |
<% elsif current_customer? %>
  <!-- 客户加入购物车 -->
  	<div style="text-align: center">
		<%= form_for Order.new, url: customer_orders_url(current_account.customer) do |f| %>
		<div class="field">
		  <%= f.label :商品数量 %>
		  <%= f.number_field :count, in: 1..10000000000, step: 1 %>
		</div>
		<div class="field">
		  <%= f.hidden_field :done, :value => false %>
		</div>
		<div class="field">
		  <%= f.hidden_field :commodity_id, :value => @commodity.id %>
		</div>
		<div class="field">
		  <%= f.hidden_field :customer_id, :value => current_account.customer.id %>
		</div>
		<div class="actions">
		  <%= f.submit %>
		</div>
	</div>
  <% end %>
<% end %>

<div class="btn btnCommodity">
	<%= link_to '返回', commodities_path %> 
</div>

<div class="btn btnCommodity">
	<%= link_to '访问该商品的店铺', seller_shop_path(@commodity.shop.seller, @commodity.shop) %>
</div>
