<p id="notice"><%= notice %></p>
<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<style>

body {
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
    font-weight: lighter;
    background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic.51yuansu.com%2Fbackgd%2Fcover%2F00%2F22%2F73%2F5b9c890ba5820.jpg%21%2Ffw%2F780%2Fquality%2F90%2Funsharp%2Ftrue%2Fcompress%2Ftrue&refer=http%3A%2F%2Fpic.51yuansu.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641698224&t=5a91f0f8d2c52a50d2a0b03141511166"); 
    background-size: 100% 100%;
    /*background-image: url("http://pic.616pic.com/bg_w1180/00/06/90/HyJy99S3LL.jpg!/fw/1120");*/
}

h1 {
    font-size: 2.4rem;
    /*2.4em × 10 = 24px */
}

p {
    font-size: 0.88rem;
    /*1.4em × 10 = 14px */
}

li {
    font-size: 0.88rem;
    /*1.4 × ? = 14px ? */
}

.proRow {
    display: flex;
    flex-wrap: wrap;
}

.proBig {
    width: 235px;
    margin: 15px 15px;
    position: relative;
}

.proIntro {
	font-weight: bold;
}

.proCatagory {
	font-weight: bold;
}


.pro {
    border: 1px solid #ccc;
    height: 360px;
}

.proImg {
    width: 235px;
    height: 196px;
    text-align: center;
}

.proImg img {
    height: 196px;
}

.singleProImg {
	width: 500px;
	height: 390px;
	text-align: center;
}

.proName {

}

.singleProName {
	
}

.proText {
    margin: 10px 10px;
    height: 120px;
}

h5 {
    font-size: 1rem;
    margin: 0 auto;
    font-weight: initial;
}

.proSize {
    font-size: 0.6rem;
    color: #95989A;
    margin: 3px auto;
}

.proPrice span {
    font-size: 1.2rem;
    font-weight: initial;
    font-style: italic;
}

.proFrom {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.proBtn {
    width: 235px;
    height: 362px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    box-sizing: border-box;
    padding-top: 80px;
    margin-top: -362px;
    display: none;
}

.proBig:hover .proBtn {
    display: block;
}

.btn {
    width: 167px;
    height: 50px;
    margin: 10px auto;
    background-color: #FCDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.btn:hover {
    border: 1px solid #66503B;
}

</style>





<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
</style>



<div align = "center"><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbpic.588ku.com%2Fback_origin_min_pic%2F19%2F10%2F22%2Fa8e3ff878cb8b2156f0fee5691cb6951.jpg%21%2Ffw%2F750%2Fquality%2F99%2Funsharp%2Ftrue%2Fcompress%2Ftrue&refer=http%3A%2F%2Fbpic.588ku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641694198&t=f0de01aa6da293f70dcd607d6f42e4c1" width=60% height=10% ></div>
<div>
	<h5 align = "center" font-weight = "bold"><%= @commodity.name %></h5>
    <p align = "center"><%= @commodity.introduction %></p>
    <p align = "center"><%= @commodity.price %> RMB</p>
    <p align = "center"><%= @commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
</div>


<style>
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
address,cite,dfn,em,var {
	font-style:normal;
}
code,kbd,pre,samp {
	font-family:courier new,courier,monospace;
}
ul,ol {
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover,a:visited,a:link,a:active {
	text-decoration:none;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
legend {
	color:#000;
}
fieldset,img {
	border:0;
}
button,input,select,textarea {
	font-size:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
.clear {
	clear:both;
	float:none;
	height:0;
	overflow:hidden;
}
body {
	color:#333;
	font:12px/1.3 'Arial','Microsoft YaHei';
}
#pn {
	width: 550px;
	height:auto;
	background:#fff;
	margin:0 auto;
	padding:20px;
}
.list0 {
	padding:20px 0;
	position:relative;
	border-top:1px solid #eee;
}
.head {
	width:60px;
	float:left;
}
.head img {
	width:60px;
	height:60px;
}
.close {
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	color:#696e78;
	font-size:14px;
	text-align:center;
	line-height:20px;
}
.close:hover {
	color:#eb7350;
}
.content {
	width:450px;
	line-height:20px;
	font-size:14px;
	margin-left:70px;
}
.name {
	color:#eb7350;
}
.pic {
	margin:5px 0;
}
.good:after {
	clear:both;
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
}
.good {
	*zoom:1;
}
.date {
	float:left;
	color:#808080;
}
.good a {
	float:right;
	color:#808080;
}
.people {
	background:#F7F7F7;
	height:28px;
	line-height:28px;
	padding-left:10px;
	margin:5px 0;
}
.comment:after {
	clear:both;
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
}
.comment {
	*zoom:1;
	padding:10px 0;
	border-top:1px solid #eee;
}
.comment-left {
	width:30px;
	float:left;
	display:inline;
	margin-right:10px;
}
.comment-left img {
	width:30px;
	height:30px;
}
.comment-right {
	float:left;
	width:410px;
}
.comment-text {
	line-height:18px;
}
.comment-text span {
	color:#eb7350;
}
.comment-date {
	font-size:12px;
	line-height:14px;
	color:#ccc;
	position:relative;
}
.comment-zan {
	position:absolute;
	right:40px;
	bottom:0;
	color:#808080;
}
.comment-dele {
	position:absolute;
	right:0;
	bottom:0;
	color:#808080;
}
.hf:after {
	clear:both;
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
}
.hf {
	*zoom:1;
}
.hf-text {
	border:1px solid #eee;
	display:block;
	height:15px;
	width:438px;
	padding:5px;
	resize:none;
	color:#ccc;
	font-size:12px;
}
.hf-on .hf-text {
	height:60px;
	color:#333;
	border:1px solid #ff8140;
}
.hf-btn {
	float:right;
	width:65px;
	height:26px;
	background:#f7f7f7;
	color:#ccc;
	font-size:12px;
	display:none;
}
.hf-btn-on {
	background:#ff8140;
	color:#fff;
}
.hf-nub {
	float:right;
	padding:3px 5px;
	color:#666;
	display:none;
}
.hf-on .hf-btn {
	display:inline;
}
.hf-on .hf-nub {
	display:inline;
}

</style>

<!--评论模块-->
<% unless @commodity.sections.empty? %>
<ul id="pn">
    <li class="list0" > <a class="close">X</a>
        <div class="head"><img src="http://www.sucainiu.com/themes/images/demo/500x300-2.png" alt=""></div>
        <div class="content">
            <p class="text"><span class="name">Coekjan：</span>哈哈哈哈哈</p>
            <div class="good"><span class="date">02-14 23:01</span><a class="dzan">赞</a></div>
            <div class="people" total="2980">1人觉得很赞</div>
            <div class="comment-list">
                <div class="comment" user="self">
                    <div class="comment-left"><img src="http://www.sucainiu.com/themes/images/demo/500x300-2.png" alt=""></div>
                    <div class="comment-right">
                        <div class="comment-text"><span class="user">Coekjan：</span>我</div>
                        <div class="comment-date">02-14 22:00 <a class="comment-zan" href="javascript:;" total="23" my="1">1 取消赞</a> <a class="comment-dele" href="javascript:;">回复</a> </div>
                    </div>
                </div>
                <div class="comment" user="self">
                    <div class="comment-left"><img src="http://www.sucainiu.com/themes/images/demo/500x300-2.png" alt=""></div>
                    <div class="comment-right">
                        <div class="comment-text"><span class="user">Coekjan：</span>看哭了留卡号吧</div>
                        <div class="comment-date">02-14 24:00 <a class="comment-zan" href="javascript:;" total="0" my="0">赞</a> <a class="comment-dele" href="javascript:;">删除</a> </div>
                    </div>
                </div>
            </div>
            <div class="hf">
                <textarea type="text" class="hf-text" autocomplete="off" maxlength="100">评论…</textarea>
                <button class="hf-btn">回复</button>
                <span class="hf-nub">0/100</span> </div>
        </div>
    </li>
</ul>
<% end %>











<% unless @commodity.sections.empty? %>
  <h2>Comment Section</h2>
  <% @commodity.sections.reject { |s| s.comments.empty?  }.each do |s| %>
    <div>
      Grade: <%= s.grade %> | First Comment: <%= s.comments.first.content %> |
      <%= link_to 'Go to comment-section', commodity_section_url(@commodity, s) %>
    </div>
  <% end %>
<% end %>

<% if current_account && current_account.id == @commodity.shop.seller.account.id %>
  <%= link_to 'Edit', edit_commodity_url(@commodity) %> |
<% elsif current_customer? %>
  <h2>Add Me to your Shopping cart!</h2>
  <%= form_for Order.new, url: customer_orders_url(current_account.customer) do |f| %>
    <div class="field">
      <%= f.label :count %>
      <%= f.number_field :count, in: 1..10000000000, step: 1 %>
    </div>
    <div class="field">
      <%= f.hidden_field :done, :value => false %>
    </div>
    <div class="field">
      <%= f.hidden_field :commodity_id, :value => @commodity.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :customer_id, :value => current_account.customer.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Back', commodities_path %> |
<%= link_to 'Visit Its Shop', seller_shop_path(@commodity.shop.seller, @commodity.shop) %>
