<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commodity.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @commodity.introduction %>
</p>

<p>
  <strong>Price:</strong>
  <%= @commodity.price %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @commodity.shop.name %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @commodity.categories.map { |c| c.name }.reduce { |x, y| x + ", " + y } if @commodity.categories %>
</p>


<% if current_account && current_account.id == @commodity.shop.seller.account.id %>
  <%= link_to 'Edit', edit_commodity_url(@commodity) %> |
<% end %>
<%= link_to 'Back', commodities_path %> |
<%= link_to 'Visit Its Shop', seller_shop_path(@commodity.shop.seller, @commodity.shop) %>
