<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<h1 class="h1Category">已有商品类别</h1>

<div class="content">  
  <div class="proRow">
      <% @categories.each do |category| %>
          <div class="proBig">
              <div class="pro">
                  <div class="proImg">
                    <% if category.image.attached? %>
                      <image src="<%= url_for category.image %>"></image>
                    <% end %>
                  </div>
                  <div class="proText">
                      <h5 class="h5Category"><%= category.name %></h5>
                  </div>
              </div>
              <a href="#">
                  <div class="proBtn">
                      <%= link_to '查看', category, class:'btn btn-primary btnCommodity', style: "color: gainsboro" %>
                      <% if current_admin? %>
                          <%= link_to '编辑', edit_category_path(category), class:'btn btn-primary btnCommodity', style: "color: gainsboro" %>
                          <%= link_to '删除', category, class:'btn btn-primary btnCommodity', style: "color: gainsboro", method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <% end %>
                  </div>
              </a>
          </div>
        <% end %>
    </div>
</div>

<br>

<%= link_to '新增类别', new_category_path, class:'btn btn-primary btnCommodity', style: "color: gainsboro" %>
