<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<strong>Commodities of the categories:</strong><br/>
<% @category.commodities.each do |c| %>
  <div>
    <%= link_to c.name, commodity_url(c) %>
  </div>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
