<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div style="border: 1px solid #ccc; border-radius: 16px;">
<p>
  <h1 style="margin-left: 1%">所有<%= @category.name %></h1>
</p>



<div class="content">
  <div class="proRow">
      <% @category.commodities.each do |commodity| %>
          <div class="proBig">
              <div class="pro">
                  <div class="proImg">
                    <% if commodity.image.attached? %>
                      <image src="<%= url_for commodity.image %>"></image>
                    <% end %>
                  </div>
                  <div class="proText">
                      <h5 class="h5Commodity"><%= commodity.name %></h5>
                      <p class = "proIntro"><%= commodity.introduction %></p>
                      <p class = "proPrice"><%= commodity.price %> RMB</p>
                      <p class = "proFrom"><%= commodity.shop.name %></p>
                      <p class = "proCatagory"><%= commodity.categories.collect { |c| c.name }.reduce { |x, y| x + ", " + y } %></p>
                  </div>
              </div>
              <a href="#">
                  <div class="proBtn">
                  	  <%= link_to '查看', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                      <% if current_account && current_account.id == commodity.shop.seller.account.id %>
                        <%= link_to '编辑', edit_commodity_path(commodity), class:'btn btn-primary btnCommodity', style: "color: gainsboro"%>
                        <%= link_to '删除', commodity, class:'btn btn-primary btnCommodity', style: "color: gainsboro",  method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <% end %>
                  </div>
              </a>
              
          </div>
        <% end %>
    </div>
</div>

<div style="text-align: right; margin-right: 1%; margin-bottom: 1%">
  <%= link_to '编辑', edit_category_path(@category), class:'btn btn-primary', style: "color: gainsboro; width: 7%" %>
  <%= link_to '返回', categories_path, class:'btn btn-primary', style: "color: gainsboro; width: 7%" %>
</div>

</div>
