<!DOCTYPE html>
<html>
  <head>
    <title>EMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%= link_to 'HOME', root_url %><br/>
    <% if current_account %>
      <%= current_account.name %> Logged in.<br/>
      <%= link_to 'Logout', logout_accounts_path %><br/>
      <% if current_account.role.role_type == "Customer" %>
        <%= link_to 'My Shopping Cart', customer_orders_url(current_account.customer) %> |
        Balance: <%= current_account.balance %> ￥
      <% elsif current_account.role.role_type == "Admin" %>
        <%= link_to 'All Accounts', accounts_url %>
      <% end %>
    <% else %>
      Please <%= link_to 'Login', login_accounts_path %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
