<!DOCTYPE html>
<html>
  <head>
    <title>EMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <!--change HOME to an image-->
<!--    <%#= link_to 'HOME', root_url %><br/>-->
    <% if current_account %>
      <nav class="navbar navbar-expand-lg"style="background-color: #e3f2fd;">
        <span class="navbar-brand mb-0 h1">Flying YouGou</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to '主页', root_url, class: "nav-link" %><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">欢迎：<%= current_account.name %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">余额：<%= current_account.balance %>￥</a>
            </li>
            <li class="nav-item active">
              <%= link_to '充值', account_top_up_url(current_account), class: "nav-link" %><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <%= link_to '登出', logout_accounts_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
            </li>
            <% if current_account.role == "Customer" %>
              <li class="nav-item active">
                <%= link_to '购物车', customer_orders_url(current_account.customer), class: "nav-link" %><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <%= link_to '购物记录', customer_records_url(current_account.customer), class: "nav-link" %><span class="sr-only">(current)</span></a>
              </li>
            <% elsif current_account.role == "Admin" %>
              <li class="nav-item active">
                <%= link_to '所有账户', accounts_url, class: "nav-link" %><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <%= link_to '所有分类', categories_url, class: "nav-link" %><span class="sr-only">(current)</span></a>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    <% elsif request.original_url != login_accounts_url %>
      <nav class="navbar navbar-expand-lg"style="background-color: #e3f2fd;">
        <span class="navbar-brand mb-0 h1">Flying YouGou</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to '主页', root_url, class: "nav-link" %><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <%= link_to '登陆', login_accounts_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      Please <%= link_to 'Login', login_accounts_path %>
    <% end %>

  </div>

  <body>
    <%= yield %>
  </body>
</html>
