<!DOCTYPE html>
<html>
  <head>
    <title>EMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%= link_to 'HOME', root_url %><br/>
    <% if current_account %>
      <%= current_account.name %> Logged in |
      Balance: <%= current_account.balance %>￥ |
      <%= link_to 'Top Up!', account_top_up_url(current_account) %><br/>
      <%= link_to 'Logout', logout_accounts_path %><br/>
      <% if current_account.role == "Customer" %>
        <%= link_to 'My Shopping Cart', customer_orders_url(current_account.customer) %> |
        <%= link_to 'My Shopping Records', customer_records_url(current_account.customer) %>
      <% elsif current_account.role == "Admin" %>
        <%= link_to 'All Accounts', accounts_url %> | <%= link_to 'All Categories', categories_url %>
      <% end %>
    <% elsif request.original_url != login_accounts_url %>
      Please <%= link_to 'Login', login_accounts_path %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
