<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-dark">当前用户： <%= current_account.name %></div>
  <li class="dropdown-divider "></li>

  <div class="field">
    <div class="text-dark labelLine">用户名<br> <%= form.text_field :name, required:"", class:"textBoxLine", placeholder: "您的用户名" %></div>
  </div>

  <div class="field">
    <div class="text-dark labelLine">密码<br> <%= form.password_field :password, required:"", class:"textBoxLine", placeholder: "您的密码" %></div>
  </div>

  <div class="field">
    <div class="text-dark labelLine">身份<br> <%= form.collection_select(:role, all_roles, :to_s, :to_s, {}, {:class => "downLine"}) %></div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary leftButton", value: "创建用户", data: { disable_with: "正在创建用户" }%>
    <%= link_to '返回', accounts_path ,class: "btn btn-primary rightButton", style: "color: gainsboro"%>
  </div>
<% end %>