<% if notice %>
  <div class="alert alert-success" role="alert" style="left: auto">
    <%= notice %>
  </div>
<% end %>

<h1>所有账户</h1>

<div class="card" style="">
<div class="card-body">

  <table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>姓名</th>
      <th>密码</th>
      <th>角色</th>
      <th>余额</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.name %></td>
        <td><%= account.password %></td>
        <td><%= account.role %></td>
        <td><%= account.balance %></td>
        <td><%= link_to '查看详情', account %></td>
        <td><%= link_to '编辑', edit_account_path(account) %></td>
        <td><%= link_to '删除用户', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

  <%= link_to '新建用户', new_account_path, class: "btn btn-primary", style: ""%>
</div>
</div>

<br>