<body class="loginSurface">

<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>


<h1 class="text-center">所有账户</h1>

<div class="card text-center" style="">
<div class="card-body">

  <table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>用户名</th>
      <th>密码</th>
      <th>角色</th>
      <th>余额</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="">
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.name %></td>
        <td><%= account.password %></td>
        <td><%= account.role %></td>
        <td><%= account.balance %></td>
        <td><%= link_to '查看详情', account, style: "color: #1b1e21; background-color: transparent;"%></td>
        <td><%= link_to '编辑', edit_account_path(account), style: "color: #1b1e21; background-color: transparent;"%></td>
        <td><%= link_to '删除用户', account, method: :delete, data: { confirm: 'Are you sure?' }, style: "color: #1b1e21; background-color: transparent;"%></td>
      </tr>
    <% end %>
  </tbody>

</table>

  <%= link_to '新建用户', new_account_path, class: "btn btn-primary", style: "color: gainsboro; width: 10%;"%>
</div>
</div>

<br>

</body>