<!DOCTYPE html>

<body class="text-center loginSurface" style="margin: 0">

<div class="text-center">
<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>

<%= form_with url: do_login_accounts_path do %>
  <div class="center-in-center">
  <img class="mb-4" src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fresource.v123.cn%2Fv%2FData%2Fupload%2Fcloud%2F201510%2F955695448%2Fimage%2F201605%2F572961b28c273.png&refer=http%3A%2F%2Fresource.v123.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1643104227&t=30fad27e8d214eefc8dc2fc103a21b73" alt="" width="80" height="80">
  <h1 class="h3 mb-3 font-weight-normal">欢迎来到天上优购</h1>
  <label for="inputAccount" class="sr-only">Account ID</label>
  <label for="id"></label>
  <input type="text" name="id" id="id" class="form-control" placeholder="账户编号" required autofocus size="5" style="width: 20%; margin:1% auto">
  <label for="inputPassword" class="sr-only">Password</label>
  <label for="password"></label>
  <input type="password" name="password" id="password" class="form-control" placeholder="密码" required style="width: 20%; margin:1% auto">

  <button type="submit" name="commit" value="LOGIN" data-disable-with="LOGIN" class="btn btn-primary loginBox" style="color: gainsboro">登陆</button>
  <%= link_to '注册', register_accounts_url, class:'btn btn-primary loginBox', style: "color: gainsboro"%>
  </div>
<% end %>

</div>

</body>
