<% if alert %>
  <div class="<%= alert["type"]%>" role="<%= alert["role"] %>" style="left: auto">
    <h4 class="alert-heading" style="text-align: left"><%= alert["id"] %></h4>
  </div>
<% end %>
<h1 class="text-center">注册用户</h1>

<div class="card accountCard">
  <div class="card-header">用户注册</div>
  <div class="card-body">
  <% unless current_account %>
    <%= form_with url: do_register_accounts_path do %>
      <div class="center" style="width: 50%; margin: auto;">
      <div class="field">
        <div class="text-dark labelLine">用户名<br> <%= text_field_tag :name, "" , class: "textBoxLine", placeholder: "您的用户名", required:""%></div>
      </div>
      <div class="field">
        <div class="text-dark labelLine">角色<br> <%= collection_select(nil, :role, roles, :to_s, :to_s, {}, {:class => "downLine"}) %></div>
      </div>
      <div class="field">
        <div class="text-dark labelLine">密码<br> <%= password_field_tag :password, "", required: "", class: "passwordLine" %></div>
      </div>
      <%= submit_tag 'Register' , value: "注册", class: "btn btn-primary leftButton", data: { disable_with: "正在注册" }%>
      <%= link_to '返回', login_accounts_url, class: "btn btn-primary rightButton", style: "color: gainsboro" %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>