<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header">个人信息</div>
  <div class="card-body">
    <p>
      <strong>姓名：</strong>
      <%= @account.name %>
    </p>

    <p>
      <strong>密码：</strong>
      <%= @account.password %>
    </p>

    <p>
      <strong>角色：</strong>
      <%= @account.role %>
    </p>

    <p>
      <strong>余额：</strong>
      <%= @account.balance %>
    </p>
  </div>
</div>

<%= link_to '修改信息', edit_account_path(@account), class: "btn btn-primary", style: "color: gainsboro; margin: 1%auto;"%> <%= link_to '返回', accounts_path, class: "btn btn-primary", style: "color: gainsboro; margin: 1%auto;" %>