<% if notice %>
  <div class="alert alert-success" role="alert" style="left: auto">
    <%= notice %>
  </div>
<% end %>

<div class="card">
  <div class="card-header">个人信息</div>
  <div class="card-body">
    <p>
      <strong>姓名：</strong>
      <%= @account.name %>
    </p>

    <p>
      <strong>密码：</strong>
      <%= @account.password %>
    </p>

    <p>
      <strong>角色：</strong>
      <%= @account.role %>
    </p>

    <p>
      <strong>余额：</strong>
      <%= @account.balance %>
    </p>
  </div>
</div>

<%= link_to '修改信息', edit_account_path(@account), class: "btn btn-primary", style: ""%> <%= link_to '返回', accounts_path, class: "btn btn-primary", style: "" %>