<% if notice %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
        <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <div class="toast-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div id="toast1" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-header">
      <strong class="mr-auto">提醒</strong>
      <small>
      <button id="notice1" type="button" class="ml-2 mb-1 toastButton" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </small>
    </div>
    <div class="toast-body">
      <%= alert["id"] %>
    </div>
  </div>
<% end %>

<h1 class="text-center">开始充值</h1>
<div class="card accountCard">
  <div class="card-header">充值信息</div>
  <div class="card-body">
    <div class="text-dark">当前余额：<%= @account.balance %></div>
    <li class="dropdown-divider "></li>
    <%= form_with url: account_do_top_up_path(@account) do %>
        <div class="text-dark labelLine">充值金额<br></div>
        <div class="labelLine">
          <%= number_field_tag :balance_add, 1, { min: 1, max: 10000, required:"", class:"textBoxLine" }%>
        </div>
        <%= submit_tag '确认充值', class:"leftButton btn btn-primary", style:"color: gainsboro"%>
        <%= link_to '返回主页', root_url, class: "btn btn-primary rightButton", style: "color: gainsboro" %>
    <% end %>
  </div>
</div>
